<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google-signin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.731531538946-bn1kmlt8eian5v5lcvcc2gvugtetsevm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>expense-oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>expense</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
